/* Import de la police de caractères depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* Variables */
:root {
  --font-size: 1rem; /* Définition d'une variable CSS pour la taille de police */
}
/* Thème clair */
.light-mode {
  --navbar-color: #222; /* Couleur du texte de la barre de navigation en mode clair */
  --navbar-bg-color: #f0f0f0; /* Couleur de fond de la barre de navigation en mode clair */
}
/* Thème sombre */
.dark-mode {
  --navbar-color: #fff; /* Couleur du texte de la barre de navigation en mode sombre */
  --navbar-bg-color: #000; /* Couleur de fond de la barre de navigation en mode sombre */
}
/* Réinitialisation des styles par défaut */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
/* Styles de base */
body {
  margin: 0;
  font-size: var(--font-size); /* Utilisation de la variable de taille de police définie précédemment */
  font-family: "Poppins", sans-serif; /* Utilisation de la police de caractères 'Poppins' */
}

.main-content {
  padding: 1rem;
}
.container {
  display: flex;
  justify-content: space-between;
}
.column {
  flex-basis: 50%;
  padding: 1rem;
  background: #F1F3F4;
}
/* Styles de la barre de navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: var(--navbar-bg-color); /* Utilisation de la variable de couleur de fond de la barre de navigation */
  color: var(--navbar-color); /* Utilisation de la variable de couleur du texte de la barre de navigation */
}
.navbar__links {
  display: flex;
}
.navbar__link {
  padding: 0 10px;
}
.navbar__link > a {
  color: var(
    --navbar-color
  ); /* Utilisation de la variable de couleur du texte de la barre de navigation */
  text-decoration: none;
}
.burger {
  display: none;
}
/* Styles pour les petits appareils */
@media screen and (max-width: 767.98px) {
  .container {
    flex-direction: column;
  }
  .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    background: var(
      --navbar-bg-color
    ); /* Utilisation de la variable de couleur de fond de la barre de navigation */
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar__links {
    width: 100vw;
    transform: translateX(0);
  }
  .navbar__link {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar__link {
    transform: translateX(0);
  }
  .navbar__link > a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(
      --navbar-color
    ); /* Utilisation de la variable de couleur du texte de la barre de navigation */
    transition: all 0.4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }
  /* Toggle du menu */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(
      --navbar-color
    ); /* Utilisation de la variable de couleur du texte de la barre de navigation */
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(
      --navbar-color
    ); /* Utilisation de la variable de couleur du texte de la barre de navigation */
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .bar::before {
    transform: translateY(-12px);
  }
  .bar::after {
    transform: translateY(12px);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
  /* Bonus - Animations */
  .show-nav .first {
    transition: all 1s ease-out;
  }
  .show-nav .second {
    transition: all 1.1s ease-out;
  }
  .show-nav .third {
    transition: all 1.2s ease-out;
  }
  .show-nav .four {
    transition: all 1.3s ease-out;
  }
  .show-nav .fifth {
    transition: all 1.4s ease-out;
  }
}
/* Styles pour les appareils de taille moyenne - Bonus */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .navbar__link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(
      --navbar-color
    ); /* Utilisation de la variable de couleur du texte de la barre de navigation */
    transition: width 0.4s;
  }
  .navbar__link:hover > a::after {
    width: 100%;
  }
}
/* Bonus - Styles supplémentaires */
.main-content,
#section2,
footer {
  padding: 1rem;
}

footer {
  background: #D9DBDB;
  padding: 10px;
  text-align: center;
  color: white;
}
